@import "str-to-list";


@if $enable_for_groups !="" {

    $list_1: str-to-list("#{$display_section_1_for_these_groups_only}", "|");

    .sidebar-section-wrapper.sidebar-section[data-section-name="#{$menu_section_1}"] {
        display: none;
    }

    @each $group in $list_1 {
        body.group-#{$group} {
            .sidebar-section-wrapper.sidebar-section[data-section-name="#{$menu_section_1}"] {
                display: block;
            }
        }
    }
}


